#login {
    margin-top: 100px;
    justify-content: center;
       align-items: center;
    }


.lego{
   background-image: url('../img/IMG.gif');
   background-repeat: repeat; 
   background-blend-mode: multiply;
}  